.page-container {
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}


// HEADER DELLA SEZIONE DI MODIFICA DELLA RICHIESTA
.edit-request-header {
    display: flex;
    align-items: center;
    gap: 8px;
}


// CARD PRINCIPALE
mat-card {
    border-radius: 16px;
}



// SEZIONE DEL FORM
.form-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


// CAMPI DEL FORM
mat-form-field {
    width: 100%;
    padding-top: 16px;
}

.request-info{
    font-size: 1rem;

    p{
        display: flex;
        gap: 8px;
    }
}


// HEADER DELLA SEZIONE SPESE
.expenses-header {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;

    h2 {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}


// SEZIONE DELLE SPESE
.expenses-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


// CARD DELLE SINGOLE SPESE
.expense-card {
    gap: 16px;
}

.expense-grid{
    padding-top: 6px !important;
}

.remove-btn {
    margin-top: 8px;
}


// SEZIONE DELLE AZIONI
.actions {
    margin-top: 24px;
    gap: 12px;

    display: flex;
    justify-content: flex-end;
}


// SEZIONE DEL RIEPILOGO
.summary-card{
    // per allontanare la card dalle altre sezioni
    padding: 0 16px 16px 16px !important;
}


// SPINNER CENTRATO
.centered-spinner {
   margin: 250px auto !important; /* Centra verticalmente con margine superiore e inferiore */
}


// PULSANTE DI RITORNO 
.back-btn {
    margin-right: auto;
}