.page-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}


// TITOLO DELLE CARDS 
mat-card-title {
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 1.2rem;
}


// SOTTOTITOLO DELLE CARDS 
mat-card-subtitle {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1.2rem 1rem 1rem;
}


// CAMPI DEL FORM
mat-form-field {
    width: 100%;
    padding-top: 16px;
}


// HEADER DELLA SEZIONE DI MODIFICA DELLA RICHIESTA
.edit-request-header {
    display: flex;
    align-items: center;
    gap: 8px;
}


// SEZIONE DEL FORM
.form-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


// INFORMAZIONI SULLA RICHIESTA
.request-info {
    font-size: 1rem;

    p {
        display: flex;
        gap: 8px;
    }
}


// HEADER DELLA SEZIONE SPESE
.expenses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


// LISTA DELLE SPESE
.expenses-list{
    padding: 1rem;
}


// GRIGLIA DELLE SINGOLE SPESE
.expense-grid , .total-expense-grid {
    border: 2px outset rgba(22, 80, 195, 0.212);
    border-radius: 8px;
    padding: 30px 16px 16px 16px;
    margin-bottom: 16px;
    background-color: #f5f5f572;

    &:hover {
        border-color: rgba(60, 98, 250, 0.6);
        transform: translateY(-0.5px);
        background-color: rgba(255, 255, 255, 0.688);
    }

}


// INPUT DELLE SINGOLE SPESE
.expenses-input {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr auto;
    gap: 16px;

    mat-form-field {
        height: 0%;
    }
}

.total-expense-container {
    padding: 0 1rem 1rem 1rem;
}


// PULSANTE DI RIMOZIONE DELLA SINGOLA SPESA
.remove-btn {
    top: 1.3rem;

    &:hover {
        background-color: rgba(255, 0, 0, 0.1);
    }

    mat-icon:hover {
        color: red;
        transform: scale(1.2);
    }
}


// SEZIONE DEL RIEPILOGO
.summary-card {
    padding: 1rem;
}


// VALORE TOTALE RICHIESTO
.total-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;

    span {
        color: rgb(23, 47, 140);
    }

}


// SPINNER CENTRATO
.centered-spinner {
    margin: 250px auto !important;
    /* Centra verticalmente con margine superiore e inferiore */
}


// SEZIONE DELLE AZIONI
.actions {
    margin: 1.5rem 1rem;
    gap: 12px;

    display: flex;
    justify-content: flex-end;
}


// PULSANTE DI RITORNO 
.back-btn {
    margin-right: auto;
}


// MESSAGGIO DI ERRORE DEL FORM
.error-message {
    color: red;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 5px 14rem;
}