@if (employee(); as employee) {

<mat-card class="employee-card">

    <mat-card-header>
        <mat-card-title>
            Employee Details
            <mat-icon>assignment_ind</mat-icon>
        </mat-card-title>
    </mat-card-header>


    <mat-card-content>

        <div class="employee-info">

            <!-- Codice del dipendente -->
            <p>
                <strong>Employee Code: </strong>
                {{ employee.employeeCode }}
            </p>


            <!-- Nome (e cognome) del dipendente -->
            <p>
                <strong>Name:</strong>
                {{ employee.name }}
                {{ employee.surname }}
            </p>


            <!-- Email -->
            <p>
                <strong>Email:</strong>
                {{ employee.email }}
            </p>


            <!-- Status -->
            <p>
                <strong>Status:</strong>
                <span class="badge" [class.active]="employee.active" [class.inactive]="!employee.active">
                    {{ employee.active ? 'Active' : 'Inactive' }}
                </span>
            </p>

        </div>

    </mat-card-content>

</mat-card>

<mat-card class="stats-card">

    <mat-card-header>
        <mat-card-title>
            Statistics
            <mat-icon>bar_chart</mat-icon>
        </mat-card-title>
    </mat-card-header>


    <mat-card-content>

        <div class="stats-grid">

            <!-- Richieste totali -->
            <div class="stat-item total-requests">
                <h3>{{ totalRequests() }}</h3>
                <p>Total Requests</p>
            </div>


            <!-- Richieste approvate -->
            <div class="stat-item approved-requests">
                <h3>{{ approvedRequests() }}</h3>
                <p>Approved Requests</p>
            </div>


            <!-- Richieste rifiutate -->
            <div class="stat-item rejected-requests">
                <h3>{{ rejectedRequests() }}</h3>
                <p>Rejected Requests</p>
            </div>


            <!-- Richieste in attesa -->
            <div class="stat-item pending-requests">
                <h3>{{ pendingRequests() }}</h3>
                <p>Pending Requests</p>
            </div>


            <!-- Quantità totale richiesta -->
            <div class="stat-item total-requested-amount">
                <h3>{{ totalRequestedAmount() | number: '1.2-2'}} €</h3>
                <p>Total Requested</p>
            </div>


            <!-- Quantità totale approvata -->
            <div class="stat-item total-approved-amount">
                <h3>{{ totalApprovedAmount() | number: '1.2-2'}} €</h3>
                <p>Total Approved</p>
            </div>

        </div>

    </mat-card-content>

</mat-card>


<mat-card>

    <mat-card-header>
        <mat-card-title style="padding-bottom: 2rem;">
            Request History
            <mat-icon>history</mat-icon>
        </mat-card-title>
    </mat-card-header>


    <mat-card-content>
        <div class="request-history">
        @for (request of requests(); track request.id) {

        <div class="request-row">

            <span>{{ request.referenceMonth | date: 'yyyy-MM' }}</span>
            <span>{{ request.creationDate | date: 'yyyy-MM-dd' }}</span>

            <!-- <span>{{ request.status }}</span> -->
            <span class="status" [ngClass]="{
                'approved': request.status === 'APPROVED',
                'rejected': request.status === 'REJECTED',
                'pending': request.status === 'PENDING',
                'partial-approved': request.status === 'PARTIAL_APPROVED',
                'draft': request.status === 'DRAFT',
                'in-progress': request.status === 'IN_PROGRESS'
            }">
                @if (request.status === 'PARTIAL_APPROVED') {
                Partial Approved
                }
                @if (request.status === 'APPROVED') {
                Approved
                }
                @if (request.status === 'REJECTED') {
                Rejected
                }
                @if (request.status === 'DRAFT') {
                Draft
                }
                @if (request.status === 'PENDING') {
                Pending
                }
                @if( request.status === 'IN_PROGRESS') {
                In Progress
                }
            </span>

            <span>{{ request.totalRequestedAmount | number: '1.2-2'}} €</span>
            <span>{{ request.totalApprovedAmount | number: '1.2-2'}} €</span>

            <button mat-raised-button color="primary" [routerLink]="['/hr/request-details', request.id]">
                View
            </button>

        </div>

        }
        </div>

    </mat-card-content>

</mat-card>

}


<button mat-raised-button color="accent" routerLink="/hr/employee-list" class="back-btn">
    Back to Employee List
    <mat-icon>arrow_back</mat-icon>
</button>