@if (employee(); as employee) {

<mat-card class="employee-card">

    <mat-card-header>
        <mat-card-title>
            Employee Details
            <mat-icon>assignment_ind</mat-icon>
        </mat-card-title>
    </mat-card-header>


    <mat-card-content>

        <div class="employee-info">

            <!-- Codice del dipendente -->
            <p>
                <strong>Employee Code: </strong>
                {{ employee.employeeCode }}
            </p>


            <!-- Nome (e cognome) del dipendente -->
            <p>
                <strong>Name:</strong>
                {{ employee.name }}
                {{ employee.surname }}
            </p>


            <!-- Email -->
            <p>
                <strong>Email:</strong>
                {{ employee.email }}
            </p>


            <!-- Status -->
            <p>
                <strong>Status:</strong>
                <span class="badge" [class.active]="employee.active" [class.inactive]="!employee.active">
                    {{ employee.active ? 'Active' : 'Inactive' }}
                </span>
            </p>

        </div>

    </mat-card-content>

</mat-card>

<mat-card class="stats-card">

    <mat-card-header>
        <mat-card-title>
            Statistics
            <mat-icon>bar_chart</mat-icon>
        </mat-card-title>
    </mat-card-header>


    <mat-card-content>

        <div class="stats-grid">

            <!-- Richieste totali -->
            <div class="stat-item total-requests">
                <!-- Se l'utente non ha ancora effettuato richieste -->
                <h3>{{ totalRequests() }}</h3>
                <p>Total Requests</p>
            </div>


            <!-- Richieste approvate -->
            <div class="stat-item approved-requests">
                <h3>{{ approvedRequests() }}</h3>
                <p>Approved Requests</p>
            </div>


            <!-- Richieste rifiutate -->
            <div class="stat-item rejected-requests">
                <h3>{{ rejectedRequests() }}</h3>
                <p>Rejected Requests</p>
            </div>


            <!-- Richieste in attesa -->
            <div class="stat-item pending-requests">
                <h3>{{ pendingRequests() }}</h3>
                <p>Pending Requests</p>
            </div>


            <!-- Quantità totale richiesta -->
            <div class="stat-item total-requested-amount">
                <h3>{{ totalRequestedAmount() | number: '1.2-2'}} €</h3>
                <p>Total Requested Amount</p>
            </div>


            <!-- Quantità totale approvata -->
            <div class="stat-item total-approved-amount">
                <h3>{{ totalApprovedAmount() | number: '1.2-2'}} €</h3>
                <p>Total Approved Amount</p>
            </div>

        </div>

    </mat-card-content>

</mat-card>


<mat-card>

    <mat-card-header>
        <mat-card-title style="padding-bottom: 0.5rem;">
            Request History
            <mat-icon>history</mat-icon>
        </mat-card-title>
    </mat-card-header>


    <mat-card-content>

        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Mese di riferimento -->
            <ng-container matColumnDef="referenceMonth">

                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Month
                </th>

                <td mat-cell *matCellDef="let request">
                    {{ request.referenceMonth }}
                </td>

            </ng-container>


            <!-- Data di creazione -->
            <ng-container matColumnDef="creationDate">

                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Creation Date
                </th>

                <td mat-cell *matCellDef="let request">
                    {{ request.creationDate | date:'yyyy-MM-dd'}}
                </td>

            </ng-container>


            <!-- Status -->
            <ng-container matColumnDef="status">

                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Status
                </th>

                <td mat-cell *matCellDef='let request'>

                    <span class="status-badge" [ngClass]="request.status.toLowerCase()">
                        @if (request.status === 'PARTIAL_APPROVED') {
                        Partial Approved
                        }
                        @if (request.status === 'APPROVED') {
                        Approved
                        }
                        @if (request.status === 'REJECTED') {
                        Rejected
                        }
                        @if (request.status === 'PENDING') {
                        Pending
                        }
                        @if( request.status === 'IN_PROGRESS') {
                        In Progress
                        }
                    </span>
                </td>

            </ng-container>


            <!-- Importo richiesto -->
            <ng-container matColumnDef="requestedAmount">

                <th mat-header-cell *matHeaderCellDef mat-sort-header="requestedAmount">
                    Requested Amount
                </th>

                <td mat-cell *matCellDef="let request">
                    {{ request.totalRequestedAmount | number: '1.2-2' }} €
                </td>

            </ng-container>


            <!-- Importo accettato -->
            <ng-container matColumnDef="approvedAmount">

                <th mat-header-cell *matHeaderCellDef mat-sort-header="approvedAmount">
                    Approved Amount
                </th>

                <td mat-cell *matCellDef="let request">
                    {{ request.totalApprovedAmount | number: '1.2-2' }} €
                </td>

            </ng-container>


            <!-- Actions -->
            <ng-container matColumnDef="actions">

                <th mat-header-cell *matHeaderCellDef>
                    Actions
                </th>

                <td mat-cell *matCellDef="let request">

                    <button mat-raised-button color="primary" [routerLink]="['/hr/request-details', request.id]">
                        View
                    </button>
                </td>

            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        </table>

        @if (requests().length === 0) {

        <div class="no-found">

            <p>No requests found❗</p>

        </div>

        }

    </mat-card-content>

</mat-card>

}


<button mat-raised-button color="accent" routerLink="/hr/employee-list" class="back-btn">
    Back to Employee List
    <mat-icon>arrow_back</mat-icon>
</button>