:host {
    // :host rappresenta il componente stesso, permettendo di applicare stili al contenitore radice del componente.
    margin: 0 auto;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}


// STILE DEI CARDS (EMPLOYEE CARD E STATS CARD)
.employee-card,
.stats-card {
    margin-bottom: 1rem;
    // rem è un'unità relativa alla dimensione del font radice (root) che normalmente corrisponde a 16px.
}

mat-card {
    margin-bottom: 1rem;
}

mat-card-title {
    font-size: 1.7rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


// LAYOUT DELLE INFORMAZIONI DEL DIPENDENTE (EMPLOYEE INFO)
.employee-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1.5rem;
    font-size: 1.2rem;
}


// LAYOUT DELLE STATISTICHE (STATS GRID)
.stats-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
}

.stat-item {
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 0.5rem;
    border-radius: 12px;
    border: 2px outset rgba(22, 80, 195, 0.212);
    text-align: center;
    background: #dcdcdc;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.stat-item h3 {
    margin: 0;
    font-size: 1.5rem;
}


// STILE DEGLI STATI DELLE RICHIESTE (RIQUADRI COLORATI)
.total-requests {
    background: #cde8f7;
}

.approved-requests {
    background: #cdeecf;
}

.rejected-requests {
    background: #fad0d6;
}

.pending-requests {
    background: #fde9a9;
}

.total-requested-amount {
    background: #cde8f7;
}

.total-approved-amount {
    background: #cdeecf;
}


// LAYOUT DELLE RIGHE DELLE RICHIESTE (REQUEST ROW)
.request-history {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(22, 80, 195, 0.298);
    border-radius: 12px;
    background-color: white;

    &:hover {
        border-color: rgba(60, 98, 250, 0.6);
    }
}

.request-row {
    display: grid;
    grid-template-columns:
        1fr 1fr 1fr 1fr 1fr auto;

    gap: 1rem;
    align-items: center;
    padding: 0.7rem;
    background-color: white;
    border-bottom: 1px solid rgba(22, 80, 195, 0.212);
    border-radius: inherit;

    &:hover {
        background: #dde5f4;

        // Effetto di sollevamento al passaggio del mouse
        transform: translateY(-1px);
        transition: transform 0.3s ease;
    }
}


// STILE DEI BADGE DI STATO (ACTIVE/INACTIVE)
.badge {
    padding: 1.5px 8px;
    border-radius: 999px;
    font-size: 1rem;
    font-weight: bold;
}

.active {
    background: #d4edda;
    color: #155724;
}

.inactive {
    background: #f8d7da;
    color: #721c24;
}

p {
    display: flex;
    gap: 0.5rem;
}


// STILE DEGLI STATI DELLE RICHIESTE
.approved {
    color: green;
    font-weight: 600;
}


.pending {
    color: orange;
    font-weight: 600;
}


.rejected {
    color: red;
    font-weight: 600;
}


// Scrivo entrambe le versioni per gestire 
//sia underscore che trattino
.partial_approved,
.partial-approved {
    color: rgb(30, 196, 30);
    font-weight: 600;
}


.draft {
    color: gray;
    font-weight: 600;
}

.in_progress,
.in-progress {
    color: #009dff;
    font-weight: 600;
}

.back-btn {
    margin: 0 1rem;
}