:host {
    margin: 0 auto;
    padding: 14px 24px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}


// STILE DEI CARDS (EMPLOYEE CARD E STATS CARD)
.employee-card,
.stats-card {
    margin-bottom: 1rem;
}

mat-card {
    margin-bottom: 1rem;
}

mat-card-title {
    font-size: 1.7rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


// LAYOUT DELLE INFORMAZIONI DEL DIPENDENTE (EMPLOYEE INFO)
.employee-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1.5rem;
    font-size: 1.2rem;
}


// LAYOUT DELLE STATISTICHE (STATS GRID)
.stats-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
}

.stat-item {
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 0.5rem;
    border-radius: 12px;
    border: 2px outset rgba(22, 80, 195, 0.212);
    text-align: center;
    background: #dcdcdc;

    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        transform: translateY(-2px);
        transition: transform 0.3s ease;
        border-color: rgba(22, 80, 195, 0.6);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

}

.stat-item h3 {
    margin: 0;
    font-size: 1.5rem;
}


// STILE DEGLI STATI DELLE RICHIESTE (RIQUADRI COLORATI)
.total-requests {
    background: #cde8f7;
}

.approved-requests {
    background: #cdeecf;
}

.rejected-requests {
    background: #fad0d6;
}

.pending-requests {
    background: #fde9a9;
}

.total-requested-amount {
    background: #cde8f7;
}

.total-approved-amount {
    background: #cdeecf;
}


// STILE DEI BADGE DI STATO (ACTIVE/INACTIVE)
.badge {
    padding: 1.5px 8px;
    border-radius: 999px;
    font-size: 1rem;
    font-weight: bold;
}

.active {
    background: #d4edda;
    color: #155724;
}

.inactive {
    background: #f8d7da;
    color: #721c24;
}

p {
    display: flex;
    gap: 0.5rem;
}


// COLORI DEGLI STATI DELLE RICHIESTE (TESTO)
.approved {
    color: green;
    font-weight: 600;
}

.pending {
    color: orange;
    font-weight: 600;
}

.rejected {
    color: red;
    font-weight: 600;
}

.partial_approved,
// Scrivo entrambe le versioni per gestire 
.partial-approved {
    // sia underscore che trattino
    color: rgb(30, 196, 30);
    font-weight: 600;
}

.in_progress,
.in-progress {
    color: #009dff;
    font-weight: 600;
}


// PULSANTE INDIETRO
.back-btn {
    margin: 0 1rem;
}


// VUOTO
.no-found {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// COMMENTI:
/// 
/// :host rappresenta il componente stesso, permettendo di applicare stili al contenitore radice del componente.
/// 
/// rem è un'unità relativa alla dimensione del font radice (root) che normalmente corrisponde a 16px.