@for(attachment of attachments(); track attachment.fileName) {

<button mat-stroked-button (click)="openAttachment(attachment)" class="attachment-btn">

    <mat-icon>
        @if (attachment.fileType.includes('pdf')) {
        picture_as_pdf
        } @else {
        image
        }
    </mat-icon>


    @if (truncateLength() > 0 && attachment.fileName.length > truncateLength()) {
    {{ attachment.fileName | slice:0:truncateLength() }}...
    } @else {
    {{ attachment.fileName }}
    }

</button>

}



<!-- VS Code Counter: 16 code lines (08/10/2026) -->