<!-- CONTAINER PRINCIPALE -->
<div class="container">

    <!-- CARD PRINCIPALE CHE CONTIENE LA TABELLA DELLE RICHIESTE DI RIMBORSO -->
    <mat-card>

        <!--  HEADER DELLA CARD -->
        <mat-card-header>

            <!-- TITOLO DELLA CARD -->
            <mat-card-title>
                My Refund Requests
                <mat-icon>list</mat-icon>
            </mat-card-title>

        </mat-card-header>


        <!-- CONTENUTO DELLA CARD -->
        <mat-card-content>

            <!-- Verifica se ci sono richieste di rimborso -->
            @if (requests().length > 0) {

            <table mat-table [dataSource]="dataSource">

                <!-- Reference Month -->
                <ng-container matColumnDef="referenceMonth">

                    <th mat-header-cell *matHeaderCellDef>

                        Month

                    </th>

                    <td mat-cell *matCellDef="let request">

                        {{ request.referenceMonth }}

                    </td>

                </ng-container>


                <!-- Creation Date -->
                <ng-container matColumnDef="creationDate">

                    <th mat-header-cell *matHeaderCellDef>

                        Creation Date

                    </th>

                    <td mat-cell *matCellDef="let request">

                        {{ request.creationDate | date: 'yyyy-MM-dd' }}

                    </td>

                </ng-container>


                <!-- Status -->
                <ng-container matColumnDef="status">

                    <th mat-header-cell *matHeaderCellDef>

                        Status

                    </th>

                    <td mat-cell *matCellDef="let request">

                        <span [ngClass]="request.status.toLowerCase()">

                            @if (request.status === 'PARTIAL_APPROVED') {
                            Partial Approved
                            }

                            @if (request.status === 'APPROVED') {
                            Approved
                            }
                            @if (request.status === 'REJECTED') {
                            Rejected
                            }
                            @if (request.status === 'DRAFT') {
                            Draft
                            }
                            @if (request.status === 'PENDING') {
                            Pending
                            }

                        </span>

                    </td>

                </ng-container>


                <!-- Requested Amount -->
                <ng-container matColumnDef="totalRequestedAmount">

                    <th mat-header-cell *matHeaderCellDef>

                        Requested Amount

                    </th>

                    <td mat-cell *matCellDef="let request">

                        {{ request.totalRequestedAmount }} €

                    </td>

                </ng-container>


                <!-- Approved Amount -->
                <ng-container matColumnDef="totalApprovedAmount">

                    <th mat-header-cell *matHeaderCellDef>

                        Approved Amount

                    </th>

                    <td mat-cell *matCellDef="let request">

                        {{ request.totalApprovedAmount }} €

                    </td>

                </ng-container>


                <!-- Actions -->
                <ng-container matColumnDef="actions">

                    <th mat-header-cell *matHeaderCellDef>
                        Actions
                    </th>

                    <td mat-cell *matCellDef="let request">

                        <button mat-raised-button color="primary" (click)="viewDetails(request.id)"
                            [hidden]="request.status === 'DRAFT'">
                            View Details
                        </button>


                        @if (request.status === 'DRAFT') {

                        <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
                            Options <mat-icon>arrow_drop_down</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">

                            <!-- VEDERE DETTAGLI RICHIESTA (METODO VIEW DETAILS) -->
                            <button mat-menu-item (click)="viewDetails(request.id)">

                                View Details
                            </button>

                            <!-- MODIFICA RICHIESTA (METODO ROUTER LINK) -->
                            <button mat-menu-item routerLink="/employee/edit-request/{{request.id}}">

                                Edit
                            </button>

                            <button mat-menu-item color="warn" (click)="deleteRequest(request.id)">

                                Delete
                            </button>

                        </mat-menu>

                        }

                    </td>

                </ng-container>


                <!-- RIGA DELL'HEADER DELLA TABELLA -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns">
                </tr>


                <!-- RIGA DEI DATI DELLA TABELLA -->
                <tr mat-row *matRowDef="
                            let row;
                            columns: displayedColumns
                        ">
                </tr>

            </table>

            } @else {

            <p>
                No reimbursement requests found.
            </p>

            }

        </mat-card-content>

    </mat-card>

</div>