// PULSANTI MATERIAL DESIGN
.mdc-button--raised {
    border-style: solid !important;
    border-width: 2px !important;
    border-color: rgba(22, 80, 195, 0.35) !important;

    &:hover {
        border-color: rgba(60, 98, 250, 0.6) !important;
    }
}



// VS Code Counter: 8 code lines (09/10/2026)