// SPINNER DI CARICAMENTO 
.mat-mdc-progress-spinner {
    stroke: rgba(60, 98, 250, 0.6) !important;
}


.loading-spinner {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}



// VS Code Counter: 8 code lines (09/10/2026)