// METTO QUI TUTTI I COLORI CHE USO CONTINUAMENTE

$primary-border: rgba(22, 80, 195, 0.35);
$primary-hover: rgba(60, 98, 250, 0.6);

$card-background: rgba(21, 99, 255, 0.212);

$table-header: #c5d7fb;

$menu-background: #d0dffd;

$dialog-background: #dfe7f7;

$primary-blue: #005cbb;



// VS Code Counter: 7 code lines (09/10/2026)