.page-card {
  margin: 2rem !important;

 mat-card-header{
  padding-bottom: 1rem; 
  margin-bottom: 1.2rem;
 }

 mat-card-title {
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

}


.mat-mdc-form-field {
  width: 100%;
}


// Stile per i badge di stato (attivo/inattivo)
.badge {
  padding: 4px 10px;
  border-radius: 999px;
  font-size: .8rem;
  font-weight: 500;
}


.active {
  background-color: #d4edda;
  color: #155724;
}


.inactive {
  background-color: #f8d7da;
  color: #721c24;
}


// Stile per la colonna delle azioni nella tabella
.mat-column-actions {
  width: 180px;
}


// PULSANTE INDIETRO
.back-button {
  margin-left: 2rem;
}