.login-container {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: calc(100vh - 64px);  
    padding: 20px;
}

mat-card {
    width: 100%;
    max-width: 450px;

    padding: 24px;
    gap: 16px;
}

mat-card-header {
    margin-bottom: 20px;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

mat-form-field {
    width: 100%;
}

.password-field {
// se voglio che il pulsante stia nella stessa riga del input della password, posso usare position: relative;
    position: relative;
    display: flex;

    button {
        width: 40px;  // Imposta la larghezza del pulsante della password
        position: absolute;
        right: 0%;  // Posiziona il pulsante orizzontalmente al centro rispetto all'input della password
        top: 50%;  // Posiziona il pulsante verticalmente al centro rispetto all'input della password
        transform: translateY(-50%);  // Centra verticalmente il pulsante rispetto all'input della password
    }
}


button {
    width: 100%;
}


.error-message {
    color: #d32f2f;
    font-size: 14px;
}


mat-card-actions {
gap: 16px;
}

