// SPAZIATORE FLESSIBILE PER LAYOUT
.spacer {
    flex: auto;
}

// TOOLBAR DI ANGULAR MATERIAL
mat-toolbar {
    border-bottom: 1px solid #ccc;
    background-color: #f4f3f6;
}


// CONTENITORE PRINCIPALE DELLA HOME
.home-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}


// CARD DI ANGULAR MATERIAL
mat-card {
    width: 600px;
    padding: 20px;
}


// LOGO DELL'APPLICAZIONE
.app-logo {
    height: 120px;
    margin-right: 10px;
}


// HEADER DELLA CARD DI ANGULAR MATERIAL
mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    mat-card-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        gap: 10px;
    }
}


// CONTENUTO DELLA CARD DI ANGULAR MATERIAL
mat-card-content {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}


// PULSANTI DELLA CARD DI ANGULAR MATERIAL
mat-card-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}