.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-card-content {
  font-size: 1.1rem !important;
}


mat-card-header {
  margin-bottom: 16px;
  padding-top: 8px;
}


mat-card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;

  display: flex;
  align-items: center;
  gap: 8px;
}


.full-width {
  width: 100%;
}



// CARD INFORMAZIONE DELLA RICHIESTA
.request-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.info-label {
  font-size: 1rem;
  color: #666;
  margin-bottom: 4px;
}

.info-value {
  font-size: 1.2rem;
  font-weight: 600;
}

.status-badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}


// COLORI STATUS
.approved {
  color: green;
  font-weight: 600;
}


.pending {
  color: orange;
  font-weight: 600;
}


.rejected {
  color: red;
  font-weight: 600;
}


.partial_approved,
// Scrivo entrambe le versioni per gestire 
.partial-approved {
  // sia underscore che trattino
  color: rgb(30, 196, 30);
  font-weight: 600;
}


.draft {
  color: gray;
  font-weight: 600;
}

.in_progress,
.in-progress {
  color: #009dff;
  font-weight: 600;
}


// SEZIONE SPESE
.expenses-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.expense-row {
  // Ogni riga di spesa
  display: grid;
  grid-template-columns:
    120px // Category   
    2fr // Description  // 2fr significa che questa colonna occuperà due frazioni dello spazio disponibile rispetto alle altre colonne.
    120px // Requested Amount
    180px; // Approved Amount (input "Amount")
  gap: 16px;

  align-items: center;

  padding: 16px;

  border: 1px solid #e0e0e0;
  border-radius: 12px;

  background: #fafafa;
}

.expense-row:hover {
  background: #f5f5f5;
}


// TOTALE APPROVATO
.total-card {
  text-align: center;
}

.total-label {
  font-size: 1rem;
  color: #666;
}

.total-amount {
  font-size: 2rem;
  font-weight: 700;
  color: #2e7d32;
  padding-top: 16px;
}


// PULSANTI AZIONE
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 0px 16px;
}

.back-btn {
  margin-right: auto;
  display: flex;
  gap: 12px !important;
}

.approve-btn {
  min-width: 140px;
}

.reject-btn {
  min-width: 140px;
}


// MEDIA QUERY PER SCHERMI PICCOLI (mobile responsive)
// (Adatta il layout delle righe di spesa e dei pulsanti per schermi più piccoli)
@media (max-width: 768px) {

  .expense-row {
    grid-template-columns: 1fr;
  }

  .actions {
    flex-direction: column;
  }

  .approve-btn,
  .reject-btn {
    width: 100%;
  }
}