@if (request(); as request) {

<div class="page-container">

    <!-- AREA DELL'INFORMAZIONE DELLA RICHIESTA -->
    <mat-card>

        <!-- HEADER -->
        <mat-card-header>
            <mat-card-title>
                Request Details
                <mat-icon>description</mat-icon>
            </mat-card-title>
        </mat-card-header>


        <!-- CONTENUTO -->
        <mat-card-content>

            @if (!reviewMode()) {

            <div class="review-banner">

                <strong>
                    <mat-icon>
                        visibility
                    </mat-icon>
                    VIEWING MODE</strong>

                <span>
                    <mat-icon>arrow_downward</mat-icon>
                    Go below to:
                </span>

                <span>
                    • Click "Verify Request" to start the review process <br>
                    • Click "Edit Review" to modify an existing review.
                </span>

            </div>

            }


            <!-- AREA INFORMAZIONI RICHIESTA -->
            <div class="request-info">

                <p class="info-item">
                    <span class="info-label">Month:</span>
                    <span class="info-value">{{ request.referenceMonth }}</span>
                </p>

                <p class="info-item">
                    <span class="info-label">Creation Date:</span>
                    <span class="info-value">{{ request.creationDate | date: 'yyyy-MM-dd' }}</span>
                </p>

                <p class="info-item">
                    <span class="info-label">Last Update:</span>
                    <span class="info-value">{{ request.lastUpdateDate | date: 'yyyy-MM-dd' }}</span>
                </p>

                <p class="info-item">
                    <span class="info-label">Requested Amount:</span>
                    <span class="info-value">{{ request.totalRequestedAmount | number: '1.2-2' }} €</span>
                </p>

                <p class="info-item">
                    <span class="info-label">Status:</span>
                    <span [ngClass]="request.status.toLowerCase()" class="status-badge">
                        {{ request.status === 'APPROVED' ? 'Approved'
                        : request.status === 'REJECTED' ? 'Rejected'
                        : request.status === 'PENDING' ? 'Pending'
                        : request.status === 'PARTIAL_APPROVED' ? 'Partial Approved'
                        : request.status === 'DRAFT' ? 'Draft'
                        : request.status === 'IN_PROGRESS' ? 'In Progress'
                        : request.status }}
                    </span>
                </p>

            </div> <!-- fine request-info -->

        </mat-card-content>

    </mat-card>


    <mat-card>

        <mat-card-header>
            <mat-card-title>
                Employee Note
                <mat-icon>notes</mat-icon>
            </mat-card-title>
        </mat-card-header>


        <!-- AREA NOTE DIPENDENTE -->
        <mat-card-content>
            <p>{{ request.noteEmployee || 'No Employee Note.' }}</p>
        </mat-card-content>

    </mat-card>

    <!-- AREA DELLA TABELLA DELLE SPESE -->
    <mat-card>

        <!-- HEADER -->
        <mat-card-header>
            <mat-card-title>
                Expenses
                <mat-icon>receipt</mat-icon>
            </mat-card-title>

            @if(formError){
            <p class="form-error">{{ formError }}</p>
            }

        </mat-card-header>


        <!-- CONTENUTO -->
        <mat-card-content>

            <div class="expenses-list">

                @for (expense of request.expenses; track expense.id) {

                <!-- Linea divisoria -->
                <mat-divider></mat-divider>

                <div class="expense-container">

                    <app-progress-bar [category]="expense.category" [amount]="expense.requestedAmount">
                    </app-progress-bar>

                    <div class="expense-row">

                        <div class="expense-input">
                            <strong>Category:</strong>
                            <div>{{expense.category}}</div>
                        </div>

                        <div class="expense-input">
                            <strong>Description:</strong>
                            <div>{{expense.description || 'No Description'}}</div>
                        </div>

                        <div class="expense-input">
                            <strong>Requested Amount:</strong>
                            <div>{{expense.requestedAmount | number:'1.2-2'}} €</div>
                        </div>

                        <mat-form-field appearance="outline">

                            <mat-label>
                                Amount
                            </mat-label>

                            <input matInput type="number" min="0" required [disabled]="!reviewMode()"
                                [value]="expense.approvedAmount"
                                (input)="updatedApprovedAmount(expense.id!, +$any($event.target).value)">

                        </mat-form-field>

                    </div>

                    <div class="attachment-container">
                        <strong>Attachments:</strong>
                        <app-attachment-list [attachments]="expense.attachments ?? []" [truncateLength]="20"
                            matTooltip="Click in to view the file" matTooltipPosition="above">
                        </app-attachment-list>
                    </div>

                </div> <!-- fine di expense-container -->

                }

            </div> <!-- fine di expenses-list -->

        </mat-card-content>

    </mat-card>


    <!-- AREA DELLE NOTE DI HR -->
    <mat-card>

        <mat-card-header>
            <mat-card-title>
                HR Note
                <mat-icon>edit</mat-icon>
            </mat-card-title>
        </mat-card-header>


        @if (reviewMode()) {

        <mat-card-content>

            <form [formGroup]="form">
                <mat-form-field appearance="outline" class="full-width">

                    <mat-label>
                        HR Notes
                    </mat-label>

                    <textarea matInput rows="5" formControlName="noteHr">
                    </textarea>

                </mat-form-field>
            </form>

        </mat-card-content>

        } @else if (request.noteHr) {

        <mat-card-content>
            {{request.noteHr}}
        </mat-card-content>

        } @else if (request.status !== 'PENDING' && request.noteHr === '') {

        <mat-card-content>
            No HR Notes
        </mat-card-content>

        } @else {

        <mat-card-content>
            <div class="review-banner">
                <span>
                    Click on "Verify Request" to add HR Notes
                </span>
            </div>
        </mat-card-content>

        }

    </mat-card>


    <!-- BARRA DI PROGRESSO TOTALE -->
    <mat-card class="space">

        <mat-card-header class="overview-header">
            <mat-card-title>
                Total Requested Amount
                <mat-icon>paid</mat-icon>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="expense-container">
                <app-total-progress-bar [requestedAmount]="totalRequestedAmount()"
                    [allowedAmount]="totalAllowedAmount()">
                </app-total-progress-bar>
            </div>
        </mat-card-content>

    </mat-card>


    <!-- AREA DI APPROVED TOTAL -->
    <mat-card>

        <mat-card-header class="overview-header">
            <mat-card-title>
                Total Approved Amount
                <mat-icon>check_circle</mat-icon>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="total-card">
                <div class="total-amount">{{ approvedTotal() | number:'1.2-2' }} €</div>
            </div>
        </mat-card-content>

    </mat-card>


    <!-- PULSANTI ACTIONS -->
    <div class="actions">

        <!-- PULSANTI DI APPROVAZIONE E RIFIUTO VISIBILI SOLO IN MODALITÀ DI REVISIONE -->
        @if (reviewMode()) {

        <button mat-stroked-button (click)="reviewMode.set(false)">
            Return to View Mode
            <mat-icon>cancel</mat-icon>
        </button>

        <div class="reject-approve">
            <button mat-raised-button color="warn" (click)="rejectRequest()" class="reject-btn"
                [disabled]="request.status === 'REJECTED'">
                Reject
                <mat-icon>thumb_down</mat-icon>
            </button>

            <button mat-raised-button color="warn" (click)="approveRequest()" class="approve-btn"
                [disabled]="request.status === 'APPROVED'">
                Approve
                <mat-icon>thumb_up</mat-icon>
            </button>
        </div>

        }


        <!-- PULSANTE DI MODIFICA DELLA REVIEW -->
        @if (
        request.status === 'APPROVED' ||
        request.status === 'PARTIAL_APPROVED' ||
        request.status === 'REJECTED'
        ) {

        <button mat-raised-button color="accent" (click)="startReview()" [hidden]="reviewMode()" class="edit-btn">
            Edit Review

            <mat-icon>
                edit
            </mat-icon>

        </button>

        }


        <!-- PULSANTE DI VERIFICA DELLA RICHIESTA -->
        @if (!reviewMode()) {

        <button mat-raised-button color="primary" (click)="startReview()"
            [hidden]="request.status === 'APPROVED' || request.status === 'PARTIAL_APPROVED' || request.status === 'REJECTED'"
            class="verify-btn">
            Verify Request

            <mat-icon>
                fact_check
            </mat-icon>

        </button>

        }

    </div>


</div>

}