.container {
    margin: 1.5rem;
}


mat-card-title {
    display: flex;
    align-items: center;

    font-size: 24px;
    font-weight: 600;

    gap: 8px;
    padding-bottom: 12px;
}


button {
    min-width: 120px;
}


// STILE DEGLI STATI DELLE RICHIESTE
.approved {
    color: green;
    font-weight: 600;
}

.pending {
    color: orange;
    font-weight: 600;
}

.rejected {
    color: red;
    font-weight: 600;
}

.partial_approved,
// Scrivo entrambe le versioni per gestire 
.partial-approved {
    // sia underscore che trattino
    color: rgb(30, 196, 30);
    font-weight: 600;
}

.draft {
    color: gray;
    font-weight: 600;
}

.in_progress,
.in-progress {
    color: #009dff;
    font-weight: 600;
}


// STILE DEL MESSAGGIO "NON CI SONO RICHIESTE"
.no-found {
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(17, 17, 18);
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 20px;
}


// PULSANTE INDIETRO
.back-btn {
    margin: 1rem;
}