// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}


body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
/* You can add global styles to this file, and also import other style files */

// TABELLE MATERIAL DESIGN
.mat-mdc-table {
  width: 100%;
  margin-top: 20px;
  border-radius: 12px !important;
  overflow: hidden !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: rgba(22, 80, 195, 0.352) !important;

  &:hover {
    border-color: rgba(60, 98, 250, 0.6) !important;
  }
}


// HEADER DELLE TABELLE MATERIAL DESIGN
.mat-mdc-header-cell {
  font-weight: bold !important;
  text-align: center !important;
  padding: 12px !important;
  background-color: #c5d7fb !important;

  // Se voglio modificare mat-sort-header-container, posso farlo qui.
  .mat-sort-header-container {
    justify-content: center !important;
    align-items: center !important;
  }

  .mat-sort-header-arrow {
    opacity: 0.38 !important;
  }
}


// CELLE DELLE TABELLE MATERIAL DESIGN
.mat-mdc-cell {
  text-align: center !important;
  padding: 12px !important;
}


// HOVER SULLE RIGHE DELLE TABELLE MATERIAL DESIGN
.mat-mdc-row:hover {
  background-color: #dde5f4 !important;
  transform: translateY(-1px);
  transition: transform 0.3s ease;
}


// CARD MATERIAL DESIGN
.mat-mdc-card {
  padding: 16px !important;
  margin: 16px !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-radius: 16px !important;
  border-color: rgba(22, 80, 195, 0.212) !important;
  background-color: rgba(21, 99, 255, 0.212) !important;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.4),
    0 0 6px 0 rgba(56, 189, 248, 0.08) !important;
  transition: all 0.3s ease !important;

  &:hover {
    border-color: rgba(60, 98, 250, 0.6) !important;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4),
      0 0 7px 0 rgba(56, 189, 248, 0.08) !important;
    transform: translateY(-0.5px);
  }

}


// PULSANTI MATERIAL DESIGN
.mdc-button--raised {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: rgba(22, 80, 195, 0.35) !important;

  &:hover {
    border-color: rgba(60, 98, 250, 0.6) !important;
  }
}


// TOOLBAR MATERIAL DESIGN
.mat-toolbar {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: rgba(0, 0, 0, 0.12) !important;
  background-color: rgba(22, 80, 195, 0.212) !important;
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.3);
}


/*//////////////////////////////////////////////////////////////////////////////////
  ANIMAZIONI DELLE SFERE
//////////////////////////////////////////////////////////////////////////////////*/

// TERZA E ULTIMA VERSIONE DELLO SFONDO ANIMATO

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: -1;
  overflow: hidden;
}


/* WRAPPER SFERE BLUR */
.blur-wrapper {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 0;
  left: 0;

  filter: blur(20px);

  transform-origin: top left;
  transform: scale(4) translateZ(0);

  backface-visibility: hidden;
}


/* STILE BASE PER LE SFERE */
.sphere {
  position: absolute;
  border-radius: 50%;
  will-change: transform;
}

.sphere-1 {
  width: 70px;
  height: 70px;
  background-color: #cad5f0;
  top: -5%;
  left: -5%;
  opacity: 0.6;
  animation: slow-motion-1 40s infinite ease-in-out alternate;
}

.sphere-2 {
  width: 80px;
  height: 80px;
  background-color: #b8c8eb;
  bottom: -5%;
  right: -5%;
  opacity: 0.5;
  animation: slow-motion-2 45s infinite ease-in-out alternate;
}

.sphere-3 {
  width: 60px;
  height: 60px;
  background-color: #9bb5e8;
  top: 30%;
  right: 20%;
  opacity: 0.5;
  animation: slow-motion-3 38s infinite ease-in-out alternate;
}

.sphere-4 {
  width: 75px;
  height: 75px;
  background-color: #8aa9e6;
  bottom: 15%;
  left: 15%;
  opacity: 0.5;
  animation: slow-motion-4 50s infinite ease-in-out alternate;
}


/* ANIMAZIONI DELLE SFERE */
@keyframes slow-motion-1 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(15vw, 10vh);
  }

  100% {
    transform: translate(5vw, 25vh);
  }
}

@keyframes slow-motion-2 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-20vw, -15vh);
  }

  100% {
    transform: translate(-10vw, 5vh);
  }
}

@keyframes slow-motion-3 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-10vw, 20vh);
  }

  100% {
    transform: translate(-25vw, -5vh);
  }
}

@keyframes slow-motion-4 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(20vw, -20vh);
  }

  100% {
    transform: translate(10vw, -10vh);
  }
}


//////////////////////////////////////////////////////////////////////////////////
/* FINE ANIMAZIONI DELLE SFERE */


/* MENU */
.mat-mdc-menu-content,
.mat-mdc-menu-item {
  background-color: #d0dffd !important;

  &:hover {
    background-color: #c5d7fb !important;
  }
}


/* DIALOGHI */
.mat-mdc-dialog-surface {
  background-color: #dfe7f7 !important;
}


/* SPINNER DI CARICAMENTO */
.mat-mdc-progress-spinner {
  stroke: rgba(60, 98, 250, 0.6) !important;
}

.loading-spinner {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}


/* SNACKBAR */
.mdc-snackbar {
  --mat-sys-inverse-surface: rgba(21, 99, 255, 0.311) !important;
  /* Colore di sfondo */
  text-align: center;
}

mat-mdc-snack-bar-label.panelClass-error {
  --mat-sys-inverse-surface: rgba(255, 21, 21, 0.311) !important;  
}


/* TOOLTIP */
.mat-tooltip-panel,
.mdc-tooltip__surface {
  background-color: rgba(244, 245, 246, 0) !important;
  color: #000 !important;
  font-size: 14px !important;
  font-weight: bold !important;
}


/* SELECT PANEL */
.mat-mdc-select-panel {
  background-color: #c6d9fc !important;
}
