// CONTENITORE PRINCIPALE DEL LOGIN
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: calc(100vh - 64px);
    padding: 20px;
}


mat-card {
    width: 100%;
    max-width: 450px;
    gap: 2rem;
}


mat-card-header {
    display: flex;
    flex-direction: column;

    mat-card-title {
        text-align: start;
        font-size: 1.5rem;
        padding-bottom: 8px;
    }

    mat-card-subtitle {
        font-family: "Zen Dots", sans-serif;
        font-size: 2rem;
        text-align: center;
        padding-bottom: 8px;
        cursor: pointer;

        &:hover {
            color: #005cbb;
            scale: 1.05;
            transition: transform 0.3s ease-in-out;
        }
    }

    span {
        font-size: 1.5rem;
        text-align: end;
    }
}


mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


mat-form-field {
    width: 100%;
}


// CAMPO PASSWORD E DEL PULSANTE DI TOGGLE
.password-field {
    position: relative;
    display: flex;

    button {
        width: 40px;
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translateY(-50%);
    }

    button:hover {
        color: #005cbb;
        scale: 1.05;
        transition: transform 0.3s ease-in-out;
    }
}


button {
    width: 100%;
}


// MESSAGGIO DI ERRORE DEL LOGIN
.error-message {
    color: #d32f2f;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}


mat-card-actions {
    gap: 16px;
}



// VS Code Counter: 78 code lines (08/10/2026)