<!-- CONTAINER PRINCIPALE -->
<div class="page-container">

    <!-- CARD PRINCIPALE -->
    <mat-card>

        <!-- HEADER DELLA CARD -->
        <mat-card-header>
            <mat-card-title>
                New Refund Request
                <mat-icon>request_page</mat-icon>
            </mat-card-title>

            @if (formError) {
            <span class="error-message">{{ formError }}</span>
            }
        </mat-card-header>


        <!-- CONTENUTO DELLA CARD -->
        <mat-card-content>

            <mat-card-subtitle>
                Request Details
                <mat-icon>info</mat-icon>
            </mat-card-subtitle>

            <form [formGroup]="requestForm">

                <!-- DATI DELLA RICHIESTA -->
                <div class="form-section">

                    <!-- Mese di riferimento -->
                    <mat-form-field appearance="outline">

                        <mat-label>Reference Month</mat-label>
                        <input matInput type="month" formControlName="referenceMonth">

                    </mat-form-field>

                    <!-- Note del dipendente -->
                    <mat-form-field appearance="outline">

                        <mat-label>Employee Note</mat-label>
                        <textarea matInput rows="3" formControlName="noteEmployee">
                        </textarea>

                    </mat-form-field>


                    <!-- Linea divisoria -->
                    <mat-divider></mat-divider>

                    <!-- SPESE -->
                    <div class="expenses-header">

                        <mat-card-subtitle>
                            Expenses
                            <mat-icon>receipt</mat-icon>
                        </mat-card-subtitle>
                        <button mat-raised-button color="primary" type="button" (click)="addExpense()">
                            Add Expense
                            <mat-icon>add</mat-icon>
                        </button>

                    </div>

                    <div formArrayName="expenses" class="expenses-section">

                        @for (expense of expenses.controls;
                        track $index; let expenseIndex = $index) {


                        <div class="expense-grid">

                            <app-progress-bar [category]="expenseProgressData()[$index]?.category"
                                [amount]="expenseProgressData()[$index]?.amount || 0"></app-progress-bar>


                            <div [formGroupName]="$index" class="expenses-input">

                                <!-- Data della spesa -->
                                <mat-form-field appearance="outline">

                                    <mat-label>Date</mat-label>
                                    <input matInput type="date" formControlName="date">

                                </mat-form-field>


                                <!-- Categoria della spesa -->
                                <mat-form-field appearance="outline">

                                    <mat-label>Category</mat-label>

                                    <mat-select formControlName="category">

                                        <mat-option value="" disabled>Select a category</mat-option>
                                        <mat-option value="TAXI">Taxi</mat-option>
                                        <mat-option value="TRAIN">Train</mat-option>
                                        <mat-option value="MEAL">Meal</mat-option>
                                        <mat-option value="HOTEL">Hotel</mat-option>
                                        <mat-option value="FUEL">Fuel</mat-option>
                                        <mat-option value="OTHER">Other</mat-option>

                                    </mat-select>

                                </mat-form-field>


                                <!-- Descrizione della spesa -->
                                <mat-form-field appearance="outline">

                                    <mat-label>Description</mat-label>
                                    <textarea matInput formControlName="description" rows="1">
                                    </textarea>

                                </mat-form-field>


                                <!-- Importo richiesto -->
                                <mat-form-field appearance="outline">

                                    <mat-label>Amount (€)</mat-label>
                                    <input matInput type="number" formControlName="requestedAmount" min="0">

                                </mat-form-field>

                                <!-- Pulsante per rimuovere la spesa corrente -->
                                <button mat-icon-button color="warn" type="button" (click)="removeExpense($index)"
                                    matTooltip="Remove all" matTooltipPosition="above" class="remove-btn">
                                    <mat-icon>delete</mat-icon>
                                </button>

                            </div>

                            <!-- FILE ALLEGATO -->
                            <div class="attachment-btn">
                                <button mat-raised-button type="button" color="primary" (click)="fileInput.click()"
                                    matTooltip="Attach the receipt corresponding to this expense"
                                    matTooltipPosition="right">
                                    Attach File
                                    <mat-icon>attach_file</mat-icon>
                                </button>

                                <input hidden #fileInput type="file" multiple accept=".pdf,.jpg,.jpeg,.png"
                                    (change)="onFilesSelected($event, $index)">

                                <!-- <input hidden #fileInput type="file" multiple accept="application/pdf,image/*"
                                    (change)="onFilesSelected($event, $index)"> -->
                            </div>

                            <!-- Elenco dei file allegati per la spesa corrente -->
                            @for(
                            attachment of expenses.at(expenseIndex).value.attachments ?? [];
                            track attachment.fileName;
                            let attachmentIndex = $index;
                            ) {
                            <!-- devo inizializzare attachmentIndex perché $index ora si riferisce agli allegati e non più alle spese.
                 Se avesse usato $index direttamente, non potrebbe più accedere all'indice della spesa corrente. -->

                            <div class="file-row">

                                <!-- <mat-icon>
                                    description
                                </mat-icon> -->

                                <!-- {{ attachment.fileName }} -->

                                <app-attachment-list [attachments]="[attachment]"
                                    matTooltip="Click in to view the attached file"
                                    matTooltipPosition="right"></app-attachment-list>

                                <!-- Pulsante per rimuovere il file allegato corrente -->
                                <button mat-icon-button color="warn" type="button"
                                    (click)="removeAttachment(expenseIndex, attachmentIndex)" matTooltip="Remove file"
                                    matTooltipPosition="left" class="remove-btn">
                                    <mat-icon>cancel</mat-icon>
                                </button>

                            </div>

                            <!-- Linea divisoria per gli allegati -->
                            <div class="attachment-divider"></div>

                            }

                        </div>

                        }

                    </div>


                    <!-- Linea divisoria -->
                    <mat-divider></mat-divider>


                    <!-- TOTAL -->
                    <div class="total-section">

                        <mat-card-subtitle>
                            Total Requested
                            <mat-icon>payments</mat-icon>
                        </mat-card-subtitle>

                        <strong>
                            {{ totalAmount | number: '1.2-2' }} €
                        </strong>
                    </div>

                    <div class="expense-grid">
                        <app-total-progress-bar [allowedAmount]="totalAllowedAmount()"
                            [requestedAmount]="totalRequestedAmount()"></app-total-progress-bar>
                    </div>


                    <!-- ACTIONS -->
                    <div class="actions">

                        <button mat-stroked-button routerLink="/employee/dashboard" class="cancel-btn">
                            Cancel
                            <mat-icon>cancel</mat-icon>
                        </button>

                        <button mat-stroked-button type="button" (click)="saveDraft()" class="draft-btn">
                            Save Draft
                            <mat-icon>save</mat-icon>
                        </button>

                        <button mat-raised-button color="primary" (click)="submitRequest()">
                            Submit Request
                            <mat-icon>send</mat-icon>
                        </button>

                    </div>

                </div>

            </form>

        </mat-card-content>

    </mat-card>

</div>