// CONTAINER PRINCIPALE
.page-container {
    padding: 12px 24px 24px 24px;
    max-width: 1200px;
    margin: 0 auto;
}


// TITOLO DELLA CARD
mat-card-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.8rem;

    gap: 8px;
    padding-bottom: 2.5rem;
}


mat-card-subtitle {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 1.4rem;
}


// SEZIONE DEL FORM
.form-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 2rem;
}



// SEZIONE DELLE SPESE
.expenses-section {
    display: flex;
    flex-direction: column;
}


// HEADER DELLA SEZIONE SPESE
.expenses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.expense-grid {
    border: 2px outset rgba(22, 80, 195, 0.212);
    border-radius: 8px;
    padding: 30px 16px 16px 16px;
    margin-bottom: 16px;
    background-color: #f5f5f572;

    &:hover {
        border-color: rgba(60, 98, 250, 0.6);
        transform: translateY(-0.5px);
    }
}



// CARD DELLE SINGOLE SPESE
.expenses-input {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr auto;
    gap: 16px;
    margin-bottom: 16px;
}

.remove-btn {
    top: 6px;

    &:hover{
        background-color: rgba(255, 0, 0, 0.1);
    }

    mat-icon:hover {
        color: red;
    }
    
}


// SEZIONE DEL TOTALE
.total-section {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;

    strong {
        color: rgba(0, 0, 0, 0.539);
    }
}


// SEZIONE DELLE AZIONI
.actions {
    margin-top: 24px;
    gap: 12px;

    display: flex;
    justify-content: flex-end;
}


// PULSANTE DI CANCELLAZIONE
.cancel-btn {
    margin-right: auto;
}


// MESSAGGIO DI ERRORE DEL FORM
.error-message {
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px 7rem;
}


// DIVISORE TRA LE SPESE
mat-divider {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    border-color: #121316;
}